.internship{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 80px 170px;
}

.internship-title{
    position: relative;
}

.internship-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 0;
}

.internship-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.internship-dates {
    display: flex;
    gap: 5px;
    align-items: center;
}

.internship-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    justify-items: center;
}    

.internship-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    min-height: 400px;
}  

.internship-format h3{
    font-size: 28px;
    font-weight: 800;
    background: linear-gradient(90deg, #FFC107, #FF9800);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.internship-format h4{
    font-size: 20px;
    font-weight: 600;
    color: #d4d4d4;
    margin: 0;
}

.internship-format p{
    color: #d4d4d4;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

.internship-format:hover{
    border: 2px solid burlywood;
    background-image: linear-gradient(90deg, #27200d, #55380d);
    transform: scale(1.02);
}   

.internship-image {
    width: 80px;
    height: auto;
    margin-top: 10px;
}

.internship-format button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
    align-self: flex-start;
}

.internship-format button:hover {
    background-color: #0056b3;
}

@media(max-width:768px){
    .internship{
        align-items: start;
        gap: 40px;
        margin: 20px 20px;
    }

    .internship-title h1{
        padding: 0;
        font-size: 50px;
    }

    .internship-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .internship-format{
        padding: 25px;
        max-width: none;
        min-height: auto;
    }

    .internship-content {
        gap: 12px;
    }

    .internship-format h3{
        font-size: 24px;
    }

    .internship-format h4{
        font-size: 20px;
    }

    .internship-format p{
        font-size: 16px;
        line-height: 1.3;
    }
}